@model ExternalRegisterViewModel
@{
    ViewData["Title"] = "Complete Your Local Account Information";
}
<style>
    /*.wrapper {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section {
        background-color:#FFD500;
    }
    .inner {
        /*background-color: #3B3A36;
        position: relative;
        width: 535px;
        border: double #3B3A36 2px;
        padding: 50px;
    }
    */
    section {
        /*background-color: #FFD500;*/
    }

    .wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner {
        background-color: #FFD500;
        position: relative;
        width: 535px;
        border: hidden #3B3A36 2px;
        border-radius: 25px;
        padding: 20px 10px;
        /*margin-top:-50px;
        margin-bottom:-50px;*/
    }
</style>


<div class="wrapper">
    <div class="inner">
        <form asp-action="External Register" method="post">
            <h3 class="section-title-small text-center mb-50">Complete Your Profile Information</h3>
            @if (Model == null)
            {
                <div class="alert alert-success alert-dismissible show" role="alert">

                    Email claim not received from @ViewBag.LoginProvider;<br />
                    Please contact support on support@kenlogistics.com;
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="First name" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Last name" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="email@example.com" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>

            <div class="form-group form-check">
                <input style="margin:5px;" type="checkbox" class="form-check-input" name="TermsAndConditions" value="true">
                <label style="margin-left:30px;" class="form-check-label" for="TermsAndConditions">I agree to <a class="white-text" style="text-decoration:underline;">the Terms and Condition</a></label>
                <br />
                <span class="text-danger" asp-validation-for="TermsAndConditions"></span>
            </div>

            <div style="float:right;">

                <button type="submit" class="btn btn-warning">Complete</button>
            </div>
            @*Could do something similar to below*@
            @*By clicking “Create my account”, you agree to our terms of service, privacy policy and cookie policy*@
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    }
